---
Checks: >
  -*,
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-convert-member-functions-to-static,
  -readability-qualified-auto,
  -modernize-avoid-c-arrays,
  -modernize-concat-nested-namespaces,
  -modernize-pass-by-value,
  -modernize-return-braced-init-list,
  -modernize-use-auto,
  -modernize-use-default-member-init,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type

WarningsAsErrors: ''
HeaderFilterRegex: '^(?!.*third_party/).*'
FormatStyle: file

CheckOptions:
  - key: readability-implicit-bool-conversion.AllowIntegerConditions
    value: '1'
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: '1'
  - key: readability-braces-around-statements.ShortStatementLines
    value: '0'
...
